html, body {
	height: 100%;
	margin: 0;
	background-color: #efefdd;
	width: auto;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  padding-bottom: 2rem;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.boldy {
	font-weight: bold;
}

.presentation {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

p {
	font-family: san-serif;
	color: darkgray;
	text-align: center;
	line-height: 110%;
	margin-top: 2px;
	margin-bottom: 1px;
}

li {
	text-align: center;
	font-size: 16px;
	list-style: none;
	font-family: serif;
	margin-top: 1px;
	margin-bottom: 1px;
}

h1 {
	text-align: center;
	color: #558c9e;
}

h2 {
	text-align: left;
	padding-left: 20px;
}

h4 {
	text-align: left;
	padding-left: 20px;
	font-size: 18px;
}

img.certificate {
	width: 40%;
	height: auto;
	display: block;
	border-radius: 90px 0 90px 0;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 20px;
}

a {
	text-decoration: none;
    color: #558c9e;
}

nav {
	background-color: #558c9e;
}

.listone, .list,  ol, li {
	text-align: left;
	list-style: disc;
	line-height: 2;
}

.main {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
}

.hrone {
	border-color: #ca9ecf;
	border-style: solid;
}

.buttonset {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#efefdd;
	font-family:san-serif;
	font-size:16px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	margin: 30px 20px 30px 10px;
	width: 140px;
}

.buttonset:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

.buttonset:active {
	position: relative;
	top:1px;
}

.footer {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    bottom: 0;
    height: 60px;
    left: 0;
    background-color: #558c9e;
    padding-top: 40px;
    margin-left: 0;
	padding: 20px;
	text-align: center;
  }
  
.bottom {
    color: #efefdd;
    font-size: 18px;
    margin-left: 0;
  }

.text {
  	color: #000000;
  	text-align: left;
  	padding-left: 20px;
  	font-size: 16px;
  	line-height: 1.5;
  }

.list {
  	font-size: 16px;
  	padding-top: 0px;
}

table {
	position: relative;
	width: 50%;
	text-align: left;
	padding-left: 100px;
	padding: 10px;
}

.container {
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	align-content: left;
	justify-content: flex-start;
	justify-items: center;
	flex-wrap: wrap;
	font-size: 16px;
}

.image-container {
	text-align: center;
}

th {
  	font-weight: bold;
  	text-align: left;
  	text-decoration: underline;
  	padding-left: 20px;
  	color: #558c9e;
}

tbody {
  	text-align: left;
  	vertical-align: top;
  	padding-left: 30px;
  	padding-top: 15px;
}

td {
  	padding: 20px;
  	width: auto;
  	height: auto;
  }

.guides {
	border-radius: 10%;
	height: 150px;
	width: 200px;
	float: right;
	border: solid 3px #558c9e;
}

iframe {
	display: flex;
	justify-content: center;
	margin-left: 275px;
	border: solid 1px #558c9e;
}

.visio {
	border: solid 1px #558c9e;
	position: relative;
}

.imagio {
	border: solid 1px #558c9e;
}

h3 {
	text-align: center;
	font-style: italic;
}

.cert {
	text-align: center;
	list-style: none;
}

.toctitle {
	text-align: left;
	font-size: 18px;
	color: #000000;
}

#toc {
	margin: 20px;
}
  
#toc ul {
	list-style-type: none;
	margin: 50;
	padding: 20;
}
  
#toc li {
	margin-bottom: 5px;
}
  
#toc ref {
	text-decoration: none;
}

.hr {
	display: block;
	margin-bottom: 5px;
	margin-top: 15px;
	margin-left: 10px;
	margin-right: 700px;
	border-style: inset;
	border-width: 2px; 
}
